<!DOCTYPE html>
<html lang="tr-TR">

<head>
    <%-include('./inc/head')%>
</head>

<body>
    <%-include('./inc/nav')%>
    <ul>
        <li><%-include('./inc/card')%></li>
        <li><%-include('./inc/card')%></li>
    </ul>
    
</body>

</html>